html {
    max-width: 2500px;
    min-width: 300px;
}
body {
    background-image: linear-gradient(to right, #B5EBFF, #E3F8FF);
    font-family:Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 2500px;
    min-width: 300px;
}
nav {
    margin-top: 15px;
    margin-left: 10px;
}
nav > a {
    background-color: #163A47;
    color: #268A9E;
    font-size: 15px;
    padding: 3px;
    box-shadow: 2px 2px 3px 1px #163A47;
    width: 150px;
    height: auto;
    margin: 2px;
    border-radius: 5px 5px;
}
h1 {
    color: #163A47;
    font-size: 50px;
    max-width: 850px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
h2 {
    color: #163A47;
    font-size: 30px;
    max-width: 800px;
    height: auto;;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
h1:hover, h2:hover, nav>a:hover {
    color: #3AD1F0;
}
p:hover {
    color: #000000;
}
div{
    text-align: center;
}
p {
    color: #E3F8FF;
    background-color: #7898a4;
    display: inline-flex;
    width: 376px;
    height: 170px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: justify;
    text-indent: 30px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-left: #163A47 solid 20px;
    border-radius: 5px 25px;
}
.redes {
    display: block;
    margin: auto;
    height: 130px;
} 
iframe {
    display: block;
    margin-top: auto;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}
footer {
    background-color: #163A47;
    color: #E3F8FF;
    font-size: 10px;
    margin: 50px auto 10px auto;
    text-align: center;
}
